<header *ngIf="!scrollDown">
    <a class="homeImgLink" href="/#home"><img src="../../assets/img/logo.png" alt=""></a>
    <div class="links">
        <a href="/#home">HOME</a>
        <a href="/#about">ABOUT</a>
        <a href="/#portfolio">PORTFOLIO</a>
    </div>

    <div class="respMenu">
        <div class="hamburger" (click)="openCloseLinks()">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>

        </div>
        <div *ngIf="resp" class="linkbox">
            <a (click)="openCloseLinks()" href="/#home">HOME</a>
            <a (click)="openCloseLinks()" href="/#about">ABOUT</a>
            <a (click)="openCloseLinks()" href="/#portfolio">PORTFOLIO</a>
        </div>
    </div>

</header>