header{
    background-color: black;
    width: 100vw;
    max-width: 100%;
    padding: 0% 10% 0% 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    img{
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        transition: all 150ms ease-in-out;
        margin-left: 60px;
        &:hover{
            color: #FA2759;
        }
    }

    .respMenu{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-start;
        //position: relative;
        top: 38px;
        padding: 8px;
        height: 133px;
    }

    .linkbox{
        display: flex;
        flex-direction: column;
        text-align: end;
        transform: scaleY(0);
        overflow: hidden;
        animation: openLinks 255ms forwards;
    }

    @keyframes openLinks {
        from{
            transform: scaleY(0);
        }
        to{
            transform: scaleY(1);
        }
    }

    .hamburger{
        height: 50px;
        width: 35px;
        //border-style: solid;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ham{
        border-style: solid;
        border-width: 2px;
        margin-top: 16%;
        border-radius: 3px;
        width: 100%;
    }

    .hamClose1{
        border-bottom-style: solid;
        border-width: 5px;
        margin-top: 18%;
        transform: rotate(45deg);
    }
    .hamClose2{
        border-bottom-style: solid;
        transform: rotate(-45deg);
    }
}

@media (max-width: 590px) {
    .respMenu{
        display: flex !important;
    }
    .links{
        display: none;
    }
}