header {
    background-color: black;
    width: 100vw;
    max-width: 100%;
    padding: 0% 10% 0% 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    animation: showNav 255ms ease-in-out;
    img {
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: 400;
        transition: all 150ms ease-in-out;
        margin-left: 60px;
        &:hover {
            color: #fa2759;
        }
    }

    .homeImgLink {
        margin: 0;
    }

    .respMenu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-start;
        //position: relative;
        top: 38px;
        padding: 8px;
        height: 133px;
    }

    .linkbox {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: flex-end;
        overflow: hidden;
        animation: openLinks 255ms forwards;
        height: 100vh;
        position: absolute;
        top: 58px;
        right: 0;
        padding-right: 32px;
        background-color: rgba(0, 0, 0, 0.8);
        a{
            padding-top: 44px;
        }
    }

    @keyframes showNav {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes openLinks {
        from {
            transform: translatex(+50%);
        }
        to {
            transform: translateX(0);
        }
    }

    .hamburger {
        height: 50px;
        width: 35px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ham {
        border-style: solid;
        border-width: 2px;
        background-color: white;
        margin-top: 16%;
        border-radius: 3px;
        width: 100%;
    }

    .hamClose1 {
        border-bottom-style: solid;
        border-width: 5px;
        margin-top: 18%;
        transform: rotate(45deg);
    }
    .hamClose2 {
        border-bottom-style: solid;
        transform: rotate(-45deg);
    }
}

.darkHamburger {
    .ham {
        border-color: black;
    }
}

.darkMenu {
    background-color: white !important;
    box-shadow: 0 1px 12px 0 #d9bbc2;
    a {
        color: black;
    }
    .linkbox{
        background-color: rgba(255, 255, 255, 0.95);
    }
}

@media (max-width: 590px) {
    .respMenu {
        display: flex !important;
    }
    .links {
        display: none;
    }
}
