<footer>
    <div class="legals">
        <a href="#">Imprint</a> - 
        <a href="#">Privacy</a>
    </div>
    <div class="jobLinks">

        <a (click)="goToLink('https://github.com/Dome1990')"><img src="../../assets/img/github-fill.png"></a>
        <a (click)="goToLink('http://www.linkedin.com/in/dominic-g-6347a8229')"><img src="../../assets/img/linkedin-box-fill.png"></a>
        <a (click)="goToLink('https://www.xing.com/profile/dominic_gerth')"><img src="../../assets/img/xing-fill.png" alt=""></a>

    </div>
</footer>


