<div class="aboutMeSection" id="about">
    <div class="aboutMeTop">
        <div class="imgDiv">
            <img src="../../assets/img/profile3.jpg" alt="">
        </div>
        <div #aboutMe class="aboutDescription">
            <h2>About me.</h2>
            <span>
                My name is Dominic, a junior front-end developer. I´ve made an 
                apprenticeship as a biology lab technician, and I am now working as a 
                foreman in pharmaceutical production. I was always fascinated by technology. 
                So it was just a matter of time before I would start programming on my own. 
                In my free time, I began programming with online tutorials. Soon I realized 
                that I wanted to do 
                programming for a living. At that time, 
                I decided to become a web developer and take professional 
                training to reach my goal.
            </span>
        </div>
    </div>
    <!-- details -->
    <div class="motivation">

        <div #motivation1 class="aboutMeDetail">
            <img src="../../assets/img/walk-line.png" alt="">
            <span class="topic">MY JOURNEY BEGAN</span>
            <span>
                as a biology lab technician and a foreman in 
                pharmaceutical production, where I´m now leading 
                the fractionation team (10 members). I started programming 
                as a hobby.
            </span>
        </div>

        <div #motivation2 class="aboutMeDetail">
            <img src="../../assets/img/heart-line.png" alt="">
            <span class="topic">I WAS ALWAYS FASCINATED</span>
            <span>
                by technologies and the unlimited possibilities. 
                So it was just a matter of time before I would start programming. 
                After a short time, I realized that I wanted to do 
                programming for a living.    
            </span>
        </div>

        <div #motivation3 class="aboutMeDetail">
            <img src="../../assets/img/search-line.png" alt="">
            <span class="topic">I SEARCHED</span>
            <span>
                for the right way to gain the experience to become a 
                professional front end developer.
            </span>
        </div>

        <div #motivation4 class="aboutMeDetail">
            <img src="../../assets/img/flight-takeoff-line.png" alt="">
            <span class="topic">I STARTED A PROFESSIONAL TRAINING</span>
            <span>
                where I got all the experience that I 
                needed besides my work, and soon I was able to build my own projects.
            </span>
        </div>

    </div>
</div>