<div class="aboutMeSection" id="about">
    <div class="aboutMeTop">
        <div class="imgDiv">
            <img src="../../assets/img/profile2.jpg" alt="">
        </div>
        <div class="aboutDescription">
            <h2>About me.</h2> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex odit, distinctio, fugiat dolor autem excepturi nisi sint voluptatum eos doloribus alias incidunt officia deleniti sit assumenda asperiores similique dolorem?</span>
        </div>
    </div>
    <!-- details -->
    <div class="motivation">

        <div class="aboutMeDetail">
            <img src="../../assets/img/walk-line.png" alt="">
            <span class="topic">MY JORNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cupiditate reiciendis facilis? Nulla libero, mollitia fugiat in debitis ratione? Neque tempora minus commodi vel saepe dolor adipisci quaerat vero reprehenderit?</span>
        </div>

        <div class="aboutMeDetail">
            <img src="../../assets/img/heart-line.png" alt="">
            <span class="topic">MY JORNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cupiditate reiciendis facilis? Nulla libero, mollitia fugiat in debitis ratione? Neque tempora minus commodi vel saepe dolor adipisci quaerat vero reprehenderit?</span>
        </div>

        <div class="aboutMeDetail">
            <img src="../../assets/img/search-line.png" alt="">
            <span class="topic">MY JORNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cupiditate reiciendis facilis? Nulla libero, mollitia fugiat in debitis ratione? Neque tempora minus commodi vel saepe dolor adipisci quaerat vero reprehenderit?</span>
        </div>

        <div class="aboutMeDetail">
            <img src="../../assets/img/flight-takeoff-line.png" alt="">
            <span class="topic">MY JORNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cupiditate reiciendis facilis? Nulla libero, mollitia fugiat in debitis ratione? Neque tempora minus commodi vel saepe dolor adipisci quaerat vero reprehenderit?</span>
        </div>

    </div>
</div>