.aboutMeSection {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 54px;
    box-sizing: border-box;
}
.imgDiv {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 6px;
    display: flex;
    img{
        object-fit: cover;
    }
}

span {
    color: white;
}

.aboutMeTop {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 54px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #2dfcd8;
    align-items: center;
    h2 {
        margin-bottom: 40px;
    }
    .aboutDescription {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 60%;
        opacity: 0;
    }
}

.seen{
    opacity: 1 !important;
    animation: seen 255ms ease-in-out;
}

@keyframes seen {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.motivation {
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    justify-content: space-between;
}

.aboutMeDetail {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    text-align: center;
    .topic {
        margin-bottom: 24px;
        margin-top: 24px;
        font-size: 22px;
    }
    img {
        background-color: #2dfcd8;
        border-radius: 50%;
        padding: 20px;
        height: 44px;
        width: 44px;
    }
}

@media (max-width: 1180px) {
    @media (min-height: 660px) {
        .aboutMeTop {
            min-height: fit-content;
            padding-bottom: 54px;
        }
    }
    @media (max-height:500px) {
        .aboutMeTop{
            min-height: fit-content;
            padding-bottom: 50px;
        }
        
    }
}

@media (max-width: 940px) {
    .imgDiv {
        margin-bottom: 32px;
    }
    .aboutMeTop {
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;
        width: 100%;
    }
    .aboutDescription {
        width: 100% !important;
    }
    .motivation {
        flex-direction: column;
    }
    .aboutMeDetail {
        width: 100%;
        padding-bottom: 32px;
    }
}

@media (max-width: 490px) {
    .imgDiv {
        width: 230px;
        height: 230px;
        img {
            width: 230px;
        }
    }
}
