<div class="aboutMeSection" id="about">
    <div class="aboutMeTop">
        <div class="imgDiv">
            <img src="../../assets/img/profile2.jpg" alt="">
        </div>
        <div class="aboutDescription">
            <h2>About me.</h2>
            <span>
                My name is Dominic, a junior front-end developer. I´ve made an apprenticeship as a 
                biology lab technician and I´m working as a foreman in pharmaceutical production. 
                I started programming a few years ago as a hobby. Because it was so much fun for me, I wanted 
                to do it professionally. So I started looking for a way to gain the necessary experience and skills 
                to become a front end developer and found the Developer Akademie.
            </span>
        </div>
    </div>
    <!-- details -->
    <div class="motivation">

        <div class="aboutMeDetail">
            <img src="../../assets/img/walk-line.png" alt="">
            <span class="topic">MY JOURNEY BEGAN</span>
            <span>
                as a biology lab technician and a foreman in pharmaceutical production where 
                I´m leading a team of 10 colleagues. I began programming as a hobby.
            </span>
        </div>

        <div class="aboutMeDetail">
            <img src="../../assets/img/heart-line.png" alt="">
            <span class="topic">I FOUND OUT</span>
            <span>
                that programming is a lot of fun for me and I want to do it professionally and not only as a hobby.
            </span>
        </div>

        <div class="aboutMeDetail">
            <img src="../../assets/img/search-line.png" alt="">
            <span class="topic">I SEARCHED</span>
            <span>
                for a way to gain the experience to become a front end developer and found the Developer Akademie. 
            </span>
        </div>

        <div class="aboutMeDetail">
            <img src="../../assets/img/flight-takeoff-line.png" alt="">
            <span class="topic">I STARTED A PROFESSIONAL TRAINING</span>
            <span>
                and with the help from the Developer Akademie, I 
                quickly gained experience and was soon able to implement my own projects.
            </span>
        </div>

    </div>
</div>