<div class="myWork" id="portfolio">

    <h2>My work</h2>

    <div class="selectionBar">
        <div (click)="select('all')" [ngClass]="{'selected' : angularSel && javascriptSel}" class="selectBtn">All</div>
        <div (click)="select('angular')" [ngClass]="{'selected' : angularSel && !javascriptSel}" class="selectBtn">Angular
        </div>
        <div (click)="select('javascript')" [ngClass]="{'selected' : javascriptSel && !angularSel}" class="selectBtn">JavaScript</div>
    </div>
    <div class="projects">

        <div *ngFor="let c of javascriptProject; let i = index;" [class.project-box]="javascript" [class.shrink]="jsShrink" [class.rise]="jsRise">
            <div *ngIf="javascript" class="project">
                <img src="{{ javascriptProject[i].imgPath }}">
                <div class="projectDescritpion">
                    <span>{{ javascriptProject[i].name }}</span> <br> {{ javascriptProject[i].text }}
                    <div (click)="goToLink(javascriptProject[i].projectLink)" class="tryOut">Try out</div>
                </div>
            </div>
        </div>

        <div *ngFor="let c of angularProject; let i = index;" [class.project-box]="angular" [class.shrink]="angShrink" [class.rise]="angRise">
            <div *ngIf="angular" class="project">
                <img src="{{ angularProject[i].imgPath }}">
                <div class="projectDescritpion">
                    <span>{{ angularProject[i].name }}</span> <br> {{ angularProject[i].text }}
                    <div (click)="goToLink(angularProject[i].projectLink)" class="tryOut">Try out</div>
                </div>
            </div>
        </div>





    </div>
</div>