<div class="contact">
    <div class="contant">
        <h2>Contact me.</h2>

        <span>Get in touch via the form below, or by emailing
            <a href="mailto:d.gerth1990@googlemail.com">dominic.gerth1990@googlemail.com</a>
        </span>


        <form action="https://dominic-gerth.com/send_mail.php" method="POST">
            <div class="formPart">
                <label>Name</label> <input name="name" required type="text" placeholder="Enter your name">
            </div>
            <div class="formPart">
                <label>Email address</label>
                <input name="mail" required type="email" placeholder="Enter your Email address">
            </div>
            <div class="formPart">
                <label>Message</label>
                <textarea name="message" required placeholder="Enter your message" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
</div>