<div class="mySkills" id="mySkills">
    <span class="skillsHeadline">
        <h2>MY Skills</h2>
    </span>
    <div class="skills">

        <div class="skill">
            <div class="skillImg">
                <img src="../../assets/img/java script.png" alt="">
            </div>
            <span>JavaScript</span>
        </div>
        <div class="skill">
            <div class="skillImg">
                <img src="../../assets/img/angular1.png" alt="">
            </div>
            <span>Angular</span>
        </div>
        <div class="skill">
            <div class="skillImg">
                <img src="../../assets/img/icons8-rest-api-80 2.png" alt="">
            </div>
            <span>Rest API</span>
        </div>
        <div class="skill">
            <div class="skillImg">
                <img src="../../assets/img/Git-Icon-1788C 2.png" alt="">
            </div>
            <span>Git</span>
        </div>
        <div class="skill">
            <div class="skillImg">
                <img src="../../assets/img/Group 226.png" alt="">
            </div>
            <span>SCRUM</span>
        </div>
        <div class="skill">
            <div class="skillImg">
                <img src="../../assets/img/Group 205.png" alt="">
            </div>
            <span>HTML / CSS</span>
        </div>

    </div>
</div>