<div class="firstSection">

    <div class="contentTop">
        <div>
            <div>
                <h1>Hi, <br>I´m <span class="name">Dominic</span> Gerth <br> Front End Developer</h1>
            </div>
            <div>
                <button class="contactButton">Contact me</button>
            </div>
        </div>
        <div class="imgDiv">
            <img src="../../assets/img/profile.JPG" alt="">
        </div>
        <!-- <a href="https://www.flaticon.com/free-icons/up-chevron" title="up chevron icons">Up chevron icons created by feen - Flaticon</a> -->

    </div>
    
    <div class="nextSection">
        <img src="../../assets/img/down-chevron.png" alt="">
    </div>

</div>