<div class="firstSection" id="home">

    <div class="outerBox">
        <div class="contentTop">
            <div>
                <div>
                    <h1>Hi, <br>I´m <span class="name">Dominic</span> Gerth <br> Front End Developer</h1>
                </div>
                <div class="buttonBox">
                    <a href="#contact"><button class="contactButton">Contact me</button></a>
                </div>

            </div>
            <div>
                <div class="imgDiv">
                    <img src="../../assets/img/profile1.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- <a href="https://www.flaticon.com/free-icons/up-chevron" title="up chevron icons">Up chevron icons created by feen - Flaticon</a> -->
        <a href="#mySkills" class="nextSection">
            <img src="../../assets/img/down-chevron.png" alt="">
        </a>
    </div>

</div>

<app-my-skills></app-my-skills>
<app-my-work></app-my-work>
<app-about-me></app-about-me>
<app-contact></app-contact>