.firstSection{
    min-height: 120vh;
    width: 100vw;
    max-width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 54px;
    box-sizing: border-box;
    img{
        //height: 250px;
        width: 250px;
        position: relative;
        top: -7px;
        //object-fit: cover;
        //border-radius: 100%;
        //transform: scale(1.5)
    }
    h1{
        margin: 0;
    }

    button {
        background-color: transparent;
        color: white;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        margin-top: 64px;
        height: 64px;
        width: 305px;
        transition: all ease-in-out 255ms;
        cursor: pointer;
        &:hover{
            background-color: #FA2759;
        }
    }
}

.imgDiv{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.contentTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name{
    color: #FA2759;
}

.nextSection{
position: absolute;
left: 0;
right: 0;
margin: 0px auto 0px auto;
width: 16px;
bottom: -11vh;
cursor: pointer;
    img{
    height: 16px;
    width: 16px;
    padding: 8px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
    }
}

@media (max-width: 1055px) {
    .contentTop{
        flex-direction: column-reverse;
        align-items: center;
    }
    .nextSection{
        bottom: -28vh;
    }
    .buttonBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgDiv{
        margin-bottom: 20px;
    }
}

@media (max-width: 870px){
    h1{
        font-size: 56px;
    }
}

// @media (max-width: 730px){
//     h1{
//         font-size: 46px;
//     }
// }

// @media (max-width: 590px){
//     h1{
//         font-size: 37px;
//     }
// }

// @media (max-width: 490px){
//     h1{
//         font-size: 25px;
//     }
// }