@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 64px;
}

h2 {
    margin: 0;
    font-size: 36px;
    color: white;
}

p {
    font-size: 18px;
}


@media (max-width: 870px){
    h1{
        font-size: 56px;
    }
}

@media (max-width: 730px) {
    h1 {
        font-size: 46px !important;
    }
}

@media (max-width: 590px) {
    h1 {
        font-size: 37px !important;
    }
}

@media (max-width: 490px) {
    h1 {
        font-size: 30px !important;
    }
}
